* {
  box-sizing: border-box;
  color: #f3f3f3;
  font-family: 'Amaranth', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

header {
    max-height: 100vh;
}

.container {
  background: url(../img/sparks.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  flex-basis: 100%;
}

.test-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2px;
  margin-left: -2px;
  height: 80px;
  width: 100px;
  border: #f3f3f3 solid 2px;
  text-align: center;
  /*-ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);*/
}

.logo-text {
  color: #f3f3f3;
  font-size: 20px;
  font-family: 'Bowlby One SC', cursive;
}

.menu li {
  margin: 55px 20px;
}

.menu {
  display: flex;
  list-style-type: none;
  margin-top: -20px;
  margin-right: 20px;
  font-weight: bold;
}

/*Sets link style to default.
Could be useful in sass basestyle partial*/
.menu a {
  text-decoration: none;
  color: #f3f3f3;
}

.menu a:hover {
  color: #CCE6F4;
  opacity: 0.6;

}

/*Have to add the a after the class due to specificity issues*/
.selected a {
  color: #4BA3C3;

}



.hamburger-menu {
  display: none;
}

/*
#togglerOff id added when menu item is clicked on screen 
sizes less than 768px.
*/
#toggler, #togglerOff {
  display: none;
}


/***
Displayed when #overlay is displayed on the page
***/

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.content {
    display: flex;
    align-items: center;
    height: 80%;
    width: 80%;
    border-radius: 10px 10px;
    background-color: #f3f3f3;
    margin-top: 25px;
    margin-bottom: 0px;
}

.about-content, .blog-content, .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #3F7CAC;
    z-index: 1200;
}

.modalH1 {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom:25px;
}

/*The margin bottom applied here is pushing both elements up.*/
.modalP {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}

.modalH1, .modalP {
    color: #3F7CAC;

}

.go-back-btn {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    height: 50px;
    width: 150px;
    border: #f3f3f3 solid 2px;
    border-radius: 10px 10px;
    z-index: 1100;
} 

.go-back-btn:hover {
    background-color: #4BA3C3;
}

/***
Media Queries Begin
***/
@media screen and (max-width: 768px) {

/*This code makes the mobile navbar possible*/
  .test-wrap {
    display: flex;
    justify-content: space-between;
  }

/* Added to hopefully correct the scrolling that can happen on mobile*/
  .menu-container {
    height: 100vh;
    max-height: 100vh;
  }
    
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin-right: -500px;
    padding-top: 10px;
    margin-top: 15px;
    height: 400px;
  }
    
    
/*Have to add the a after the class due to specificity issues*/
  .menu a {
    color: #3F7CAC;
  }    

  .menu li {
    margin: 0 0;
    padding-left: 90px;
  }
    
  .selected a {
    color: #4BA3C3;

  }
    



  .hamburger-menu {
    width: 25px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .hamburger-menu:hover {
    color: black;
    opacity: 0.6;
  }

  .hamburger-menu div {
    height: 2px;
    background: #f3f3f3;
    margin: 7px 0px 7px 0px;
    border-radius: 25px;
  }

  .container {
    transition: transform 150ms ease-in-out;
  }
    
  #toggler:checked ~ .container {
    transform: translate3d(-340px,0,0);
  }

}
